<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TO DO APP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
  </head>
  <body>
    <h1>Current Chores</h1>
    <ul class="chores">
      <% for(let i =0; i < info.length; i++){%>
        <li class="chore">
          <span><%= info[i].choreName %></span>
          <span><%= info[i].workerName %></span>
          <span><%= info[i].supervisorName %></span>
          <span><%= info[i].timesWeekly %></span>
          <span class="fa-calendar-check-o"></span>
          <span class="fa-trash"></span>
        </li>
     <% } %>
    </ul>

    <h2>Add A Chore:</h2>
    <form action="/addChore" method="POST">
      <input type="text" placeholder="Chore Name" name="choreName">
      <input type="text" placeholder="Worker Name" name='workerName'>
      <input type="text" placeholder="Supervisor Name" name="supervisorName">
      <input type="submit">
    </form>
    <script src="main.js"></script>
  </body>
</html>